html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Arial", "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0 20px;
    color: white;

}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

.wrap {
    background-image: url(secret-travel-guide-hGWNhbQDrQE-unsplash.jpg);
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
    height: 95vh;
}

.footer-navbar {
    background-image: url(josh-hild-eG0lv29oaq4-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.footer-btn a:hover {
    color: #333;
}

.ul-li li {
    transition: all ease .3s;
    cursor: pointer;
}

.ul-li li:hover {
    transform: scale(1.1);
    color: black;
}

.nav-btn {
    border: none;
    background: linear-gradient(90deg in hsl shorter hue, aqua, rgb(124, 124, 124));
    padding: 10px 20px;
    border-radius: 300px;
    transition: all ease .3s;
}

.nav-btn:hover {
    transform: scale(1.1);
}

.link-box a {
    margin-right: 10px;
    transition: all ease .3s;
}

.link-box i {
    transition: all ease .3s;
}

.link-box i:hover {
    transform: scale(1.2);
}

.link-box {
    position: absolute;
    top: 600px;
    left: 50px;
}

.inp-btn {
    background-color: aqua;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 35px;
    border: none;
    outline: none;
    transition: all ease .3s;
}

.inp-btn:hover {
    transform: scale(1.1);
}

.btn {
    position: absolute;
    left: 650px;
    top: 445px;
}

.footer-a {
    position: absolute;
    top: -430px;
    left: -200px;
    color: white;
    text-decoration: none;
    transition: all ease .3s;
    background-color: #74C0FC;
    padding: 10px 15px;
    border-radius: 30px;
    border: solid 1px grey;
    transition: all ease .3s;
}

.footer-a:hover{
    transform: scale(1.1);
    color: white;
    background-color: white;
    border: none;
}